html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	min-height: -webkit-fill-available !important;
}
/* body::-webkit-scrollbar {
	width: 1em !important;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey !important;
	outline: 1px solid slategrey !important;
} */

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.rhap_container {
	background-color: inherit !important;
	-moz-box-shadow: none !important;
	-goog-ms-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.rhap_time {
	color: #aec8ca !important;
}

.rhap_progress-bar {
	background-color: #aec8ca !important;
}

.rhap_volume-bar {
	background: #aec8ca !important;
}

/* theme */
.rhap_progress-filled {
	background-color: #aec8ca !important;
}

.rhap_progress-indicator {
	background: #aec8ca !important;
	box-shadow: rgba(#aec8ca, 0.5) 0 0 5px !important;
}

.rhap_repeat-button {
	color: #aec8ca !important;
}

.rhap_main-controls-button {
	color: #aec8ca !important;
}

.rhap_volume-button {
	color: #aec8ca !important;
}

.rhap_volume-indicator {
	background: #aec8ca !important;
	box-shadow: rgba(#aec8ca, 0.5) 0 0 3px !important;
}

.rhap_volume-filled {
	background-color: #aec8ca !important;
}
